<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.girrow.hotel.mapper.RoomInfoMapper">
	<select id="getAllRoomInfo" resultType="RoomListInfoVO">
		SELECT a.*,b.price as `dPrice`
		FROM `h_roominfo` as a
		INNER JOIN `h_roomType` as b
		on(a.roomType = b.no)
	</select>
</mapper>